<div id="container" class="container">
    <br><br>
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">Picture</div>
            <div class="panel-body" id="pictures">
                Selfmade New York Pictures
                <br><br>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="links in $ctrl.newyork">
                    <a class="thumbnail" href="{{links.link}}" data-lightbox="roadtrip" data-title="View New York">
                        <img class="img-responsive" ng-src="{{links.link}}">
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Video</div>
            <div class="panel-body">
                <video width="950" preload="auto" controls>
                    <source src="assets/audio/PPAP.mp4" type="video/mp4">
                    <source src="assets/audio/PPAP.ogg" type="video/ogg">
                </video>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Audio</div>
            <div class="panel-body">
                <ul>
                    <li id="linkerAudio">
                        <iframe height="450" width="100%" scrolling="no" frameborder="no"
                                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/135263478%3Fsecret_token%3Ds-pJnuS&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false">
                        </iframe>
                    </li>
                    <li id="rechterAudio">
                        <img src="assets/img/itsHellen.jpg" style="height: 419px; width: 100%;">
                        <audio style="width: 100%" controls>
                            <source src="assets/audio/itsDifferent.mp3" type="audio/mpeg">
                            <source src="assets/audio/itsDifferent.ogg" type="audio/ogg">
                            Your browser does not support the audio element.
                        </audio>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>