<div id="container" class="container">
    <br><br>
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">Picture</div>
            <div class="panel-body" id="pictures">
                Selfmade New York Pictures
                <br><br>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="links in $ctrl.newyork">
                    <a class="thumbnail" href="{{links.link}}" data-lightbox="roadtrip" data-title="View New York">
                        <img class="img-responsive" ng-src="{{links.link}}">
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Video</div>
            <div class="panel-body">
                <iframe width="950" height="536" src="https://www.youtube.com/embed/6v2L2UGZJAM" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Audio</div>
            <div class="panel-body">
                <iframe width="49%" height="450" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/135263478%3Fsecret_token%3Ds-pJnuS&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false">
                </iframe>
                <iframe width="49%" height="450" scrolling="no" frameborder="no"
                        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/20192023&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;visual=false">
                </iframe>
            </div>
        </div>

    </div>
</div>