<div id="container" class="container">
    <br><br>
    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading">Protokoll</div>
            <div class="panel-body" id="pictures">
                <h1>Arbeitsprotokoll</h1>
                Hier wird beschrieben was ich (Luca Archidiacono) an den jeweiligen Tagen gemacht habe. Mein
                Arbeitsprotokoll umfasst alle Tage an denen wir Zeit hatten zu arbeiten und eine Schlussreflexion.
                <br><br>
                <h2>03.10.2016</h2>
                    Als wir zum ersten mal an unserem Projekt arbeiten durften, mussten wir Zuhause beginnen. Bevor ich
                    anfing zu hacken und zu codieren, überlegte ich mir mein Konzept. Wie will ich arbeiten? Was will
                    ich
                    benutzen? Diese und andere Fragen stellte ich mir selbst.<br>
                    Am schluss fiel die Entscheidung so aus:<br>
                    Ich werde <a href="https://angularjs.org/">Angular JS</a>, <a href="http://sass-lang.com/">SCSS</a>,
                    HTML5 und <a href="https://www.javascript.com/">Javascript</a> verwenden. Ich möchte zeigen, dass
                    ich
                    mit den momentanen Standart umgehen kann.<br>
                    Für das ganze Frontend Build Mangament werde ich <a href="https://nodejs.org/en/">node.js</a> und <a
                        href="http://gulpjs.com/">gulp</a> benutzen.<br>
                    Als Versionsverwalter habe ich Github ausgewählt. Wieso? Es ist am meisten verbreitet, einfach und
                    man
                    kann es überall verwenden.<br><br>
                <h2>24.10.2016</h2>
                Für die meisten Sachen, wie zum Beispiel Angular JS, HTML, SCSS, Javascript und gulp musste ich kein
                Knowledge sammeln. Das meiste habe ich bereits im Geschäft gelernt und musste es nur noch anwenden.
                Bevor ich starten konnte, brauchte ich alle nötigen Frameworks. Ich habe <a
                    href="http://getbootstrap.com/">Bootstrap</a>, <a href="https://angularjs.org/">Angular JS</a>, <a
                    href="https://jquery.com/">Jquery</a> und <a href="http://lokeshdhakar.com/projects/lightbox2/">lightbox2</a>
                heruntergeladen.
                Aber wieso brauche ich all diese Frameworks? Nun um dies ganz einfach und unkompliziert zu erklären. Es
                vereinfacht mir das Leben als Programmierer. Bootstrap hat schon einige schöne HTML Elemente die ich
                einfach aufrufen muss. Angular JS brauche ich damit ich eine einfachere Datenverwaltung habe. Ich wollte
                einen kleinen Index und eigene HTML Elemente kreieren. Es sieht für den Programmierer nicht nur schöner
                aus, es ist auch einfach zu handeln. Und was ist das komische lightbox2?. Lightbox2 brauchte ich für
                meine Bilder von New York. Ich wollte dass der User die Bilder grösser sieht und wie bei einer Gallerie
                links/rechts swipen kann. (Als Randnotiz... All diese Bilder habe ich selber geschossen. Vor einem Jahr
                bekam ich als 18. "New York Reise" als Geschenk. Dort habe ich einige Bilder geschossen und im
                nachhinein selber bearbeitet.) Für das codieren habe ich Intellij Idea 15 Professional benutzt. Es ist
                ein einfaches Tool, hat ein schönes Layout und ist sehr benutzerfreundlich.
                <br><br>
                <h2>26.10.2016</h2>
                Nachdem ich alles Nötige heruntergeladen habe, musste ich nur noch ein neues Repository in Github
                erstellen.
                <br><br>
                <h2>27.10.2016</h2>
                <br><br>
                <h2>28.10.2016</h2>
                <br><br>
                <h2>31.10.2016</h2>
                <br><br>
                <h1>Schlussreflexion</h1>

            </div>
        </div>
    </div>
</div>